doctype html
html(lang='en')

    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title NFCogos

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Bootstrap icons
        link(href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css', rel='stylesheet', type='text/css')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body

        // Masthead
        header.masthead
            .container.position-relative
                .row.justify-content-center
                    .col-xl-6
                        .text-center.text-white
                            container
                                .logo
                                  image(src='assets/img/logo.png' style='height:17rem; margin-bottom:2rem')

                            // Page heading
                            h1.mb-5 Transparencia y control para tu negocio de cannabis

                            // Signup form

                            // * * * * * * * * * * * * * * *
                            // * * SB Forms Contact Form * *
                            // * * * * * * * * * * * * * * *

                            // This form is pre-integrated with SB Forms.
                            // To make this form functional, sign up at
                            // https://startbootstrap.com/solution/contact-forms
                            // to get an API token!

                            form.form-subscribe#contactForm(data-sb-form-api-token='API_TOKEN')

                                // Email address input
                                .row
                                    .col
                                        input#email.form-control(type='email' name='email' placeholder='Correo electrónico' data-sb-validations='required,email')
                                        .invalid-feedback.text-white(data-sb-feedback='email:required')
                                            | El correo electrónico no puede estar vacío.
                                        .invalid-feedback.text-white(data-sb-feedback='email:email')
                                            | Correo electrónico inválido.

                                    .col-auto
                                        button#submitButton.btn.btn-primary(type='submit') Enviar

                                // Submit success message
                                //
                                // This is what your users will see when the form
                                // has successfully submitted

                                #submitSuccessMessage.d-none
                                    .text-center.mb-3
                                        .fw-bolder Perfecto! Estaremos en contacto contigo próximamente.

                                // Submit error message
                                //
                                // This is what your users will see when there is
                                // an error submitting the form

                                #submitErrorMessage.d-none
                                    .text-center.text-danger.mb-3 Error enviando tu correo. Intenta de nuevo más tarde.

                            h2.mb-5 Sé el primero en enterarte cuando la app esté disponible!
        // Icons Grid
        section.features-icons.bg-light.text-center
            .container
                .row
                    .col-lg-4
                        .features-icons-item.mx-auto.mb-5.mb-lg-0.mb-lg-3
                           .features-icons-icon.d-flex
                                i.bi-clipboard-check.m-auto.text-primary
                           h3 Compatible con la trazabilidad de tu país o región
                            p.lead.mb-0 Es posible asignar códigos existentes a lotes y plantas para generar reportes conforme a leyes locales
                    .col-lg-4
                        .features-icons-item.mx-auto.mb-5.mb-lg-0.mb-lg-3
                            .features-icons-icon.d-flex
                                i.bi-qr-code-scan.m-auto.text-primary
                            h3 Agiliza el registro de trabajo en interior y exterior
                            p.lead.mb-0 Escanea el código de un lote para obtener información o registrar una acción sobre el mismo
                    .col-lg-4
                        .features-icons-item.mx-auto.mb-0.mb-lg-3
                            .features-icons-icon.d-flex
                                i.bi-share.m-auto.text-primary
                            h3 Comparte el proceso
                            p.lead.mb-0 Comparte información con tus clientes y reusa información ingresada por tus proveedores

        // Image Showcases
        section.showcase
            .container-fluid.p-0
                .row.g-0
                    .col-lg-6.order-lg-2.text-white.showcase-img(style="background-image: url('assets/img/bg-showcase-1.jpg');")
                    .col-lg-6.order-lg-1.my-auto.showcase-text
                        h2 Compatible con la trazabilidad de tu país o región
                        p.lead.mb-0
                            | Tu región ya cuenta con sus propios identificadores de plantas o lotes? No hay problema! Escanea el código de barras o QR y empieza a trabajar con ellos. 
                .row.g-0
                    .col-lg-6.text-white.showcase-img(style="background-image: url('assets/img/bg-showcase-2.jpg');")
                    .col-lg-6.my-auto.showcase-text
                        h2 Agiliza el registro de trabajo en interior y exterior
                        p.lead.mb-0
                            | Imprime el código de tus plantas y lotes, ubícalo en el invernadero o plantación para poder escanearlo cuando necesites obtener información y registrar acciones.
                .row.g-0
                    .col-lg-6.order-lg-2.text-white.showcase-img(style="background-image: url('assets/img/bg-showcase-3.jpg');")
                    .col-lg-6.order-lg-1.my-auto.showcase-text
                        h2 Comparte el proceso
                        p.lead.mb-0
                            | Comparte fotos e información de trazabilidad con tus clientes y entidades reguladoras. Además, si tus proveedores también usan NFCogos, importa esta información para contar con la historia completa de las plantas o productos derivados.

        // Footer
        footer.footer.bg-light
            .container
                .row
                    .col-lg-6.h-100.text-center.text-lg-start.my-auto
                        ul.list-inline.mb-2
                        p.text-muted.small.mb-4.mb-lg-0 &copy; NFCogos 2023. All rights reserved.
                    .col-lg-6.h-100.text-center.text-lg-end.my-auto
                        ul.list-inline.mb-0
                            li.list-inline-item.me-4
                                a(href='https://www.facebook.com/100088843527809')
                                    i.bi-facebook.fs-3
                            li.list-inline-item.me-4
                                a(href='https://www.twitter.com/nfcogos')
                                    i.bi-twitter.fs-3
                            li.list-inline-item
                                a(href='https://www.instagram.com/nfcogos')
                                    i.bi-instagram.fs-3
        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js')

        // Form behavior
        script(src='js/form.js')

        script(src='js/scripts.js')
